@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.contaner{
    margin: 0 auto;
    width: 1440px;
}
.mzesumzira{
    background-image: url("./Rectangle\ 1.png");
    width: 1440px;
    height: 1172px;
}
header{
    width: 1440px;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 274px;
    height: 207px;
}
 .mzesumziradiv1{
    width: 900px;
display: flex;
/* justify-content: space-around; */
justify-content: center;
align-items: center;


} 
ul{
    width: 570px;
    display: flex;
    justify-content: space-evenly;
}
li{
    font-size: 36px;
line-height: 44px;
font-family: "inter";
font-weight: 700;
color: #777777;

}
.fotoebi{
    width: 104px;
    display: flex;
    justify-content: space-around;
}
.book{
    width: 515px;
    height: 855px;
    margin-left: 879px;
    background-color: white;
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 15px;
    

}
.input{
    width: 401px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    align-content: space-around;
}
h3{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
color: #000000;
}
button{
    background-color:#FDD504 ;
    width: 401px;
    height: 82px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    border-radius: 10px;
}
/* input{
    background-color: #F2F0F0;
    width: 401px;
    height: 61px; */

.name{
    background-color: #F2F0F0;
    width: 401px;
    height: 61px;
    border-radius: 10px;
}
.email{
    background-color: #F2F0F0;
    width: 401px;
    height: 61px;
    border-radius: 10px;
}

.time{
    background-color: #F2F0F0;
    width: 401px;
    height: 61px;
    border-radius: 10px;
}
label{
    margin-bottom:13px ;
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #6F6C6C;
}
.white{
    background-color: white;
    width: 1440px;
    height: 498px;
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: column;
}
h1{
    color: #000000;
    font-size: 36px;
    font-family: "Inter";
    font-weight: 700;
    line-height: 44px;
    text-align: center;
}
.whitediv{
    width: 1440px;
    display: flex;
    justify-content:space-around ;
    
}
.web{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    font-family: "Inter";
    line-height: 29px;
    font-weight: 700;
    width: 396px;
    height: 161px;
    background-color: #15C1E7;
    border-radius: 15px;
}
.top50{
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-size: 24px;
    font-family: "Inter";
    line-height: 29px;
    font-weight: 700;
    width: 396px;
    height: 161px;
    background-color: #B4DEE8;
    border-radius: 15px;
}
.digital{
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-size: 24px;
    font-family: "Inter";
    line-height: 29px;
    font-weight: 700;
    width: 396px;
    height: 161px;
    background-color: #B4DEE8;
    border-radius: 15px;
}
.video{
    width: 1440px;
    height: 1208px;
}
.topdiv{
    position: relative;
    width: 1440px;
    height: 713px;
    background-color: #F2F0F0;
}
h2{
    position: absolute;
    top: 29px;
    left: 529px;
    font-weight: 700;
    font-size: 36px;
    font-family: "Inter";
    width: 399px;
    height: 88px;
    text-align: center;
}
.problems{
    position:absolute;
    top: 149px;
    left: 366px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
    font-size: 24px;
    font-family: "Inter";
    width: 726px;
    height: 79px;
    color: #777777;
}
.butdiv{
    width: 1440px;
    height: 495px;
    background-color: #13345B;
}
.contactus{
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-evenly;
    flex-direction: column;
    width: 1440px;
    height: 1311px;
}
h4{
    font-size: 48px;
    font-family: "Inter";
    line-height: 58px;
    font-weight: 700;
    text-align: center;
}
.full{
    color: #777777;
    font-size: 24px;
    font-family: "Inter";
    font-weight: 700;
    border-bottom: 5px solid #15C1E7;
}
.birthday{
    color: #777777;
    font-size: 24px;
    font-family: "Inter";
    font-weight: 700;
}
.fullname{
    width: 1102px;
    display: flex;
    justify-content: space-evenly;
}
.phone{
    color: #777777;
    font-size: 24px;
    font-family: "Inter";
    font-weight: 700;
}
.email2{
    color: #777777;
    font-size: 24px;
    font-family: "Inter";
    font-weight: 700;
}
.phoneemail{
    width: 1102px;
    display: flex;
    justify-content: space-evenly;
}
.doyou{
    color: #15C1E7;
    font-size: 32px;
    font-family:"Inter";
    line-height: 39px;
    font-weight: 700;
}
.plan{
    width: 1102px;
    display: flex;
    justify-content: space-evenly;
}
.inputlabel{
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.message{
    border: 4px solid #15C1E7;
    width: 1099px;
    height: 224px;
    color: #777777;
    font-size: 24px;
    font-family: "Inter";
    line-height: 20px;
    font-weight: 700;
}
.send{
    color: white;
    background-color: #FDD504;
    width: 457px;
    height: 108px;
    border-radius: 15px;
}
footer{
    width: 1440px;
    height: 692px;
    background-color: #13345B;
    display: flex;
    justify-content: space-between;
}
.logo2{
    margin-top: 62px;
    margin-left: 72px;
    width: 364px;
    height: 199px;
}
.social{
    margin-top: 127px;
    margin-right: 160px;
    width: 500px;
    display: flex;
    justify-content:space-around;
}
.fb{
    width: 60px;
    height: 60px;
}
.insta{
    width: 66.67px;
    height: 66.67px;
}
.twit{
    width: 80px;
    height: 64px;
}
.youtube{
    width: 66.67px;
    height: 53.33px;
}